/* Top Navbar CSS Code */

.navbar {
    width: 100%;
    background: #313131;
  }

.searchButton{
    background-color: red;
}
  .navbarLogo {
    padding: 0.5em;
    float: left;
  }
  
  .navbarSkew{
      text-align: center;
  }
  
  .navbarSkew ul{
      display: inline-block;
      margin: 0;
      padding-top: 0.5em;
      list-style: none;
      transform: skew(-25deg);
  }
  
  .navbarSkew ul li{
      background: #313131;
      float: left;
      border-left: 1px solid;
      color: #eee;
      font-weight: 900;
      transition: all 0.1s linear;
  }
  
  .navbarSkew ul li:first-child{
      border-left: none;
  }
  
  .navbarSkew ul li:first-child{
      border-radius: 7px 0 0 7px;
  }
  
  .navbarSkew ul li:last-child{
      border-radius: 0 7px 7px 0;
  }
  
  .navbarSkew ul li:hover{
      background: #414141;
      transform: translateY(-5px);
  }
  
  .navbarSkew ul li a{
      display: block;
      padding: 7px 32px;
      color: inherit;
      text-decoration: none;
      transform: skew(25deg);
  }
  