/* Top Navbar CSS Code */

.topNav{
    background-color: #2d2d30;
    width: 100%;
    height: 6vh;
    position: fixed;
    align-items: center;
}
    
.topNavContainer{
    height: 6vh;
    place-content: center;
    display: flex;
    align-items: center;
}
  
.searchTerm{
    
    border: 1px solid #FFFFFF;
    background-color: #1f1f1f;
    border-right: none;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    color: #0a7c82;
    height: 45px;
    width: 450px;
}

.searchTerm::placeholder{
    padding-left: 10px;
    font-size: 19px;
    opacity: 0.5;
    color: white;
}

.searchIcon{
    margin-top: 5px;
    height: 20px;
    color: white;
}
.searchButton{
    width: 70px;
    height: 45px;
    border: 1px solid #FFFFFF;
    background-color: #131313;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
  }
  
  /* For Tablets and mobile devices */
@media only screen and (max-width: 768px) {
  
    .searchTerm{
      display: none;
    }
  
    .searchButton{
        width: 60px;
        height: 45px;
        border: 1px solid #FFFFFF;
        background-color: #131313;
        text-align: center;
        border-radius: 20px 20px 20px 20px;
    }
    
    .topNavContainer{
        float: right;
        margin-right: 20px;
        height: 6vh;
        display: flex;
    }
}