/* Top Navbar CSS Code */

.navbar {
  display: inline-grid;
  width: 100%;
  background: #313131;
}

.navbarLogo {
  padding: 0.5em;
  float: left;
}
  
.topBar{
  display: inline-flex;
  text-align: center;
}

.sidebarToggle{
  width: 35px;
  background-color: transparent;
  border: none;
}

.menuBars{
  height: 25px;
}
  
.topBar ul{
  display: inline-block;
  margin: 0;
  padding-top: 0.5em;
  list-style: none;
  transform: skew(-25deg);
}
  
.topBar ul li{
  background: #313131;
  float: left;
  border-left: 1px solid;
  color: #eee;
  font-weight: 900;
  transition: all 0.1s linear;
}
  
.topBar ul li:first-child{
  border-left: none;
}
  
.topBar ul li:first-child{
  border-radius: 7px 0 0 7px;
}
  
.topBar ul li:last-child{
  border-radius: 0 7px 7px 0;
}
  
.topBar ul li:hover{
  background: #414141;
  transform: translateY(-5px);
}
  
.topBar ul li a{
  display: block;
  padding: 7px 32px;
  color: inherit;
  text-decoration: none;
  transform: skew(25deg);
}
  
.searchBarContainer{
  display: flex;
  align-items: center;
}

.searchTerm{
  border: 2px solid #0a7c82;
  border-right: none;
  border-radius: 20px 0px 0px 20px;
  outline: none;
  color: #0a7c82;
  height: 35px;
}

.searchTerm:focus{
  outline: none;
}
  

.searchButton{
  width: 40px;
  height: 35px;
  border: 1px solid #0a7c82;
  background-color: #0a7c82;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
}

/* For Tablets and mobile devices */
@media only screen and (max-width: 768px) {
  .menuBars{
    height: 25px;
  }

  .searchTerm{
    display: none;
  }

  .searchButton{
    width: 40px;
    height: 35px;
    border: 1px solid #0a7c82;
    background-color: #0a7c82;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
  }
}