.sideNavContainer{
    background-color: #313131;
    width: 300px;
    height: 100vh;
    position: relative;
    color: white;

    transition: 0.4s;
}

.navUpper, .navHeader{
    display: grid;
}

.navHeader{
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}

.navBrand{
    display: flex;
}
.navBrand img{
    width: 40px;
    padding: 0 5px;
}

.hamburgerIn{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: red;
    border: 2px solid green;
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.hamburgerIn span{
    display: block;
    margin-top: 5px;
    background-color: aliceblue;
    border-radius: 15px;
    height: 4px;
    width: 30px;

    transition: 0.4s;
}

.hamburgerIn:hover span{
    margin: auto;
}

.hambugerOut{
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: red;
    border: 2px solid green;
    padding: 20px;
    border-radius: 90px;
    height: 71px;
    width: 74px;
}

.hambugerOut span{
    display: block;
    margin-top: 5px;
    background-color: aliceblue;
    border-radius: 15px;
    height: 4px;
    width: 30px;

    transition: 0.4s;
}

.hamburgerIn:hover span{
    margin: auto;
}

.hambugerIn:hover span:nth-child(1){
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);
}

.hambugerIn:hover span:nth-child(2){
    display: none;
}

.hambugerIn:hover span:nth-child(3){
    width: 25px;
    transform: translate(-3px, 8px) rotate(-30deg);
}

.hambugerOut:hover span:nth-child(1){
    width: 25px;
    transform: translate(-3px, 8px) rotate(30deg);
}

.hambugerOut:hover span:nth-child(2){
    display: none;
}

.hambugerOut:hover span:nth-child(3){
    width: 25px;
    transform: translate(-3px, 8px) rotate(-30deg);
}

/* 
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5em;
    width: 250px;
    height: 100%;
    background-color: #313131;
}

.sidebar h1{
    margin-left: 20px;
    float: left;
    color: #eee;
    font-size: 20px;
    font-weight: 900;
    transition: all 0.1s linear;
}

.toggleBarsContainer{
    text-align-last: center;
}

.toggleBarsButton{
    width: 35px;
    background-color: transparent;
    border: none;
}

.toggleBars{
    color: white;
    height: 25px;
}

.sidebarSkew{
    text-align: left;
}

.sidebarSkew ul{
    padding-inline-start: 0px;
}

.sidebarSkew ul{
    display: inline-grid;
    margin: 0;
    list-style: none;
}

.sidebarSkew ul li{
    display: flex;
    align-items: center;
    margin-left: 20px;
    float: left;
    color: #eee;
    transition: all 0.1s linear;
}
.sidebarSkew button{
    background: #313131;
    float: left;
    color: #eee;
    font-weight: 900;
    transition: all 0.1s linear;
}


.sidebarSkew ul li:hover{
    background: #414141;
    border-radius: 0px 20px 20px 0px;

    transform: translateX(10px);
}

.sidebarSkew ul li a{
    display: block;
    padding: 7px 32px;
    color: inherit;
    text-decoration: none;
} */